# this is only for the mysqld standalone daemon
[mysqld]

bind-address                      = 0.0.0.0
character_set_server              = utf8
collation_server                  = utf8_general_ci
connect_timeout                   = 5
datadir                           = {{ mysql_directories.0 }}
event_scheduler                   = ON
expire_logs_days                  = {{ mysql_expire_logs_days }}
general_log                       = 1
general_log_file                  = {{ mysql_directories.1 }}/mariadb.log
gtid_domain_id                    = 1
gtid_ignore_duplicates            = 1
gtid_strict_mode                  = 1
init_connect                      = 'SET NAMES utf8'
innodb_file_per_table             = 1
innodb_lock_wait_timeout          = 5
key_buffer_size                   = 20M
lc_messages                       = en_US
log_bin_index                     = {{ mysql_directories.1 }}/mariadb-bin.index
log_bin_trust_function_creators   = 1
log_bin                           = {{ mysql_directories.1 }}/mariadb-bin
log_slave_updates                 = 1
log_slow_rate_limit               = 1000
log_slow_verbosity                = query_plan
log_warnings                      = 2
long_query_time                   = 1
lower_case_table_names            = 1
max_allowed_packet                = 10M
max_binlog_size                   = 100M
max_connections                   = 10000
open_files_limit                  = 65536
server-id                         = {{ galera_server_id }}
skip-name-resolve
slow_query_log                    = 1
slow_query_log_file               = {{ mysql_directories.1 }}/mariadb-slow.log
slow_query_log                    = 1
sync_binlog                       = 1
table-open-cache                  = 10000
wait_timeout                      = 600

transaction-isolation             = READ-COMMITTED
#tag6.8   or redmine#4863
table_open_cache                  = 16384
table_definition_cache            = 16384

#From OETS
slave-net-timeout                 = 21600

relay-log                         = {{ mysql_directories.1 }}/mysql-relay-bin.log
innodb_log_buffer_size            = 8M               # early was 1048576
innodb_log_file_size              = 128M               # early was 5242880
bulk_insert_buffer_size           = 256M            # early was 8388608
thread_stack                      = 256K            # early was 196608
thread_cache_size                 = 32                    # early was 16
innodb_thread_concurrency         = 16            # early was 8



[mariadb]
innodb_buffer_pool_size           = {{ innodb_buffer_pool_size }} # up to 70% RAM
innodb_file_per_table             = 1
innodb_flush_method               = O_DIRECT
binlog_format                     = row
default_storage_engine            = InnoDB
innodb_autoinc_lock_mode          = 2
innodb_flush_log_at_trx_commit    = 1

#
# * Galera-related settings
#
[galera]
# binlog_format=row
# default_storage_engine=InnoDB
# innodb_autoinc_lock_mode=2
# innodb_flush_log_at_trx_commit=1
wsrep_cluster_address             = "gcomm://
{%- for host in groups['galera'] -%}
{{ hostvars[host].cluster_ip }}:{{ galera_wsrep_cluster_port }}
{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}"
wsrep_cluster_name                = {{ galera_wsrep_cluster_name }}
wsrep_gtid_domain_id              = 1
wsrep_gtid_mode                   = 1
wsrep_node_address                = {{ cluster_ip }}:{{ galera_wsrep_cluster_port }}
wsrep_node_name                   = "{{ inventory_hostname_short }}"
wsrep_on                          = ON
wsrep_provider_options            = "gmcast.listen_addr=tcp://0.0.0.0:{{ galera_wsrep_cluster_port }};gcache.size=1G"
wsrep_provider                    = /usr/lib64/galera/libgalera_smm.so
wsrep_slave_threads               = 1
wsrep_sst_auth                    = "{{ galera_sst_user }}:{{ galera_sst_pass }}"
wsrep_sst_method                  = xtrabackup-v2
