global_defs {
#  notification_email {
#    sysadmin@stoloto.ru
#  }
#  notification_email_from {{ inventory_hostname_short }}
#  smtp_server 127.0.0.1
#  smtp_connect_timeout 30
  router_id {{ inventory_hostname_short }}

}


vrrp_instance VI_1 {
    state {% if inventory_hostname == groups[ group_names.0 ][0] %}MASTER{% else %}BACKUP{% endif %}

    interface {{ keepalived_shared_iface }}
    virtual_router_id {{ vip_ip.split('/')[0].split('.')[-1] }}
    priority {% if inventory_hostname == groups[ group_names.0 ][0] %}100{% else %}80{% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ vip_ip.split('/')[0].split('.')[-1] }}{{ vip_ip.split('/')[0].split('.')[-1] }}
    }
    virtual_ipaddress {
        {{ vip_ip }}
    }
}

virtual_server {{ vip_ip }} 443 {
    delay_loop 10
    lb_algo rr
    lb_kind DR
    #	persistence_timeout 50
    persistence_timeout 9600
    protocol TCP

{% for host in groups['nodes'] %}
    real_server {{ hostvars[ host ].ansible_default_ipv4.address }} 30501 {
        weight 1
        TCP_CHECK {
          connect_timeout 1
          connect_port    30501
        }
    }
{% endfor %}
}
