global_defs {
#  notification_email {
#    sysadmin@stoloto.ru
#  }
#  notification_email_from {{ inventory_hostname_short }}
#  smtp_server 127.0.0.1
#  smtp_connect_timeout 30
  router_id {{ inventory_hostname_short }}

}



vrrp_instance VI_1 {
    state {% if inventory_hostname == groups[ group_names.0 ][0] %}MASTER{% else %}BACKUP{% endif %}

    interface {{ keepalived_shared_iface }}
    virtual_router_id {{ vip_ip.split('/')[0].split('.')[-1] }}
    priority {% if inventory_hostname == groups[ group_names.0 ][0] %}100{% else %}80{% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ vip_ip.split('/')[0].split('.')[-1] }}{{ vip_ip.split('/')[0].split('.')[-1] }}
    }
    virtual_ipaddress {
        {{ vip_ip }} dev {{ keepalived_shared_iface }} label {{ keepalived_shared_iface }}:1
    }

    # lvs_sync_daemon_interface {{ keepalived_shared_iface }}
}

virtual_server {{ vip_ip[:-3] }} 30080 {
    delay_loop 10
    lb_algo rr
    lb_kind DR
    protocol TCP
{% for host in groups['nodes'] %}
{% if loop.first %}
{% endif %}

    real_server {{ hostvars[ host ].ansible_default_ipv4.address }} 30080 {
        weight 100
        TCP_CHECK {
          connect_timeout 5
          connect_port 30080
        }
    }
{% endfor %}
}

virtual_server {{ vip_ip[:-3] }} 443 {
    delay_loop 10
    lb_algo rr
    lb_kind DR
    protocol TCP
{% for host in groups['nodes'] %}
{% if loop.first %}
{% endif %}

    real_server {{ hostvars[ host ].ansible_default_ipv4.address }} 443 {
        weight 100
        TCP_CHECK {
          connect_timeout 5
          connect_port 443
        }
    }
{% endfor %}
}

virtual_server {{ vip_ip[:-3] }} 30443 {
    delay_loop 10
    lb_algo rr
    lb_kind DR
    protocol TCP
{% for host in groups['nodes'] %}
{% if loop.first %}
{% endif %}

    real_server {{ hostvars[ host ].ansible_default_ipv4.address }} 30443 {
        weight 100
        TCP_CHECK {
          connect_timeout 10
          connect_port 30443
        }
    }
{% endfor %}
}
