upstream backend_cp {
    server 127.0.0.1:8080 fail_timeout=10s;
{% for host in groups[ host_group ] %}
{% if hostvars[host].inventory_hostname != inventory_hostname %}
    server {{ hostvars[host].inventory_hostname }}:8080 backup;
{% endif %}
{% endfor %}
}

server {
    listen 443 ssl;
    server_name proxy2.888.ru;

    root         /usr/share/nginx/html;
{% if item.ssl %}
{% include "templates/ssl.conf" ignore missing %}
{% endif %}

    location / {
    proxy_pass       	http://backend_cp;
    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_set_header	X-Real-IP $remote_addr;
    proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header	Host $http_host;
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }
}
