global
  log 127.0.0.1   local0
  log 127.0.0.1   local1 notice
  user haproxy
  group haproxy
  daemon


defaults
  log       global
  mode      http
  option    tcplog
  option    dontlognull
  retries   3
  option    redispatch
  timeout   connect 5000ms
  timeout   client 28800000ms
  timeout   server 28800000ms

listen haproxy-monitoring *:80
  mode    http
  stats   enable
  stats   show-legends
  stats   refresh           5s
  stats   uri               /
  stats   realm             Haproxy\ Statistics
  stats   auth              {{haproxy_login}}:{{haproxy_password}}
  stats   admin             if TRUE

{% for conf in haproxy_conf %}
{{ conf }}
{% endfor %}
