#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
  log 127.0.0.1   local0
  log 127.0.0.1   local1 notice
  user haproxy
  group haproxy
  daemon

defaults
  log       global
  mode      http
  option    tcplog
  option    dontlognull
  retries   3
  option    redispatch
  timeout   connect 5000ms
  timeout   client 28800000ms
  timeout   server 28800000ms

listen haproxy-monitoring *:80
  mode    http
  stats   enable
  stats   show-legends
  stats   refresh           5s
  stats   uri               /
  stats   realm             Haproxy\ Statistics
  stats   auth              {{haproxy_login}}:{{haproxy_password}}
  stats   admin             if TRUE

{% for group in haproxy_groups %}
listen {{ group }} {{ ansible_default_ipv4.address }}:{{ 3305+loop.index }}
  balance   source
  maxconn   40000
  mode      tcp
  option    tcpka
  option    httpchk

{% for host in groups[ group ] %}
  server {{ hostvars[host].inventory_hostname_short }} {{ hostvars[host].ansible_default_ipv4.address }}:3306 check port 9200 {% if not loop.first %}backup{% endif %}

{% endfor %}

{% endfor %}
