global
  log 127.0.0.1   local0
  log 127.0.0.1   local1 notice
  tune.ssl.default-dh-param 2048
  user haproxy
  group haproxy
  daemon

defaults
  log       global
  mode      http
  option    tcplog
  option    dontlognull
  retries   3
  option    redispatch
  timeout   connect 5000ms
  timeout   client 28800000ms
  timeout   server 28800000ms

listen stats *:80
  mode    http
  stats   enable
  stats   show-legends
  stats   refresh 2s
  stats uri /
  stats auth admin:admin
  stats admin if TRUE




listen kube_api *:8080
  mode http
  option httpchk HEAD / HTTP/1.0
  balance roundrobin
{% for host in groups['masters'] %}
  server {{ hostvars[host].inventory_hostname_short }} {{ hostvars[host].ansible_default_ipv4.address }}:8080 check
{% endfor %}

frontend registry-port-5000
    bind *:5000 ssl crt /etc/haproxy/{{ haproxy_ssl_files.0|basename }}

    acl docker_clients http_auth(users)
    http-request auth realm users if !docker_clients

    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    reqadd X-Forwarded-Port:\ 5000
    reqadd X-Forwarded-Proto:\ https
    reqadd X-Forwarded-Scheme:\ https
    default_backend docker-registry

userlist users
    user docker password $6$BrVfn.aDZgscXjU5$UiyV/HLYUTESy2kgd/s0IfG0McwO2A2fMC7md/POyryih9WMQSx0j6ZZI7RwqYF/aA9VccCx2Fj6MbQYKUBEH.

backend docker-registry
    mode http
    option httpchk HEAD / HTTP/1.0
    balance source
{% for host in groups['nodes'] %}
    server  {{ hostvars[host].inventory_hostname_short }} {{ hostvars[host].ansible_default_ipv4.address }}:30501 check
{% endfor %}

listen elasticdb *:9200
  mode http
  option httpchk HEAD / HTTP/1.0
  balance roundrobin
{% for host in groups['nodes'] %}
  server {{ hostvars[host].inventory_hostname_short }} {{ hostvars[host].ansible_default_ipv4.address }}:30920 check
{% endfor %}

listen cerebro *:9000
  mode http
  option httpchk HEAD / HTTP/1.0
  balance source
{% for host in groups['nodes'] %}
  server {{ hostvars[host].inventory_hostname_short }} {{ hostvars[host].ansible_default_ipv4.address }}:30900 check
{% endfor %}

listen galera *:3306
  balance   source
  maxconn   40000
  mode      tcp
  option    tcpka
  option    httpchk
  default-server port 9200
{% for host in groups[ 'db' ] %}
  server {{ hostvars[host].inventory_hostname_short }} {{ hostvars[host].ansible_default_ipv4.address }}:3306 check{% if not loop.first %} backup{% endif %}

{% endfor %}

listen galera-readonly *:3307
  maxconn   40000
  mode      tcp
  option    tcpka
  option    httpchk
  default-server port 9200
{% for host in groups[ 'db' ] %}
  server {{ hostvars[host].inventory_hostname_short }} {{ hostvars[host].ansible_default_ipv4.address }}:3306 check
{% endfor %}
