global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  tune.ssl.default-dh-param 2048

defaults
  log global
  mode http
  #option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats *:8081
  mode    http
  stats   enable
  stats   show-legends
  stats   refresh 1s
  stats uri /haproxy_stats
  stats auth admin:admin
  stats admin if TRUE

listen http-80 *:80
  mode tcp
  balance roundrobin
{% for host in groups['nodes'] %}
  server  30080-{{ loop.index }}  {{ host }}:30080 check
{% endfor %}

listen https-7443 *:7443
  mode tcp
  balance roundrobin
{% for host in groups['nodes'] %}
  server  30443-{{ loop.index }}  {{ host }}:30443 check
{% endfor %}

listen https-on-kvm-8443 *:8443
  mode tcp
  balance roundrobin
{% for host in groups['nodes'] %}
  server  443-{{ loop.index }}  {{ host }}:443 check
{% endfor %}

listen 8080 *:8080
  mode tcp
  balance roundrobin
{% for host in groups['nodes'] %}
  server  30081-{{ loop.index }}  {{ host }}:30081 check
{% endfor %}
