 ! Configuration File for keepalived
global_defs {
  notification_email {
    {{ keepalived_notification_email }}
  }
  notification_email_from {{ inventory_hostname_short }}
  smtp_server 127.0.0.1
  smtp_connect_timeout 30
  router_id {{ inventory_hostname_short }}

}
{% if keepalived_check_process != "" %}
vrrp_script chk_status {
  script "/usr/bin/killall -0 {{ keepalived_check_process }}"
  interval 2   # check every 2 seconds
  fall 2       # require 2 failures for fall
  rise 1       # require 1 su
}
{% endif %}
vrrp_instance VI_1 {
    state {% if inventory_hostname == groups[ group_names.0 ][0] %}MASTER{% else %}BACKUP{% endif %}

    interface {{ keepalived_shared_iface }}
    virtual_router_id {{ vip_ip.split('/')[0].split('.')[-1] }}
    priority {% if inventory_hostname == groups[ group_names.0 ][0] %}100{% else %}80{% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ vip_ip.split('/')[0].split('.')[-1] }}{{ vip_ip.split('/')[0].split('.')[-1] }}
    }

{% if groups[ group_names.0 ]|length > 1 %}
    unicast_src_ip {{ ansible_default_ipv4.address }}
    unicast_peer {
{% for host in groups[ group_names.0 ] %}
{% if inventory_hostname != hostvars[host].inventory_hostname %}
        {{ hostvars[host].ansible_default_ipv4.address }}
{% endif %}
{% endfor %}
    }
{% endif %}

    virtual_ipaddress {
        {{ vip_ip }}
    }

{% if keepalived_check_process != "" %}
        track_script {
            chk_status
        }
{% endif %}

}
