# all options in systemd unit

# JETTY_HOME={{ jetty_home }}
# JETTY_BASE={{ jetty_base }}
# JETTY_USER={{ jetty_user }}
# JETTY_PORT=8080
# #JETTY_ARGS=jetty.port=8080
# JETTY_ARGS=jetty.http.port=8080
# JETTY_LOGS={{ jetty_log }}
# TMPDIR={{ jetty_tmp }}
# JAVA_OPTIONS="{{ jetty_java_options }}"
