# Systemd unit file for jetty
#
# Multiple copies of this service (i.e. multiple concurrently running
# jetty servers) are not supported right now. Expect this to come with
# future updates

[Unit]
Description=Jetty Web Application Server
After=syslog.target network.target

[Service]
Type=forking
#Environment=JETTY_HOME=/home/jetty
#Environment=JETTY_BASE=/opt/jetty
#Environment=JETTY_USER=jetty
#Environment=jetty_log=/var/log/jetty
#Environment=TMPDIR=/var/lib/jetty/tmp
#Environment=LANG=en_US.UTF-8

Environment="JETTY_HOME={{ jetty_home }}"
Environment="JETTY_BASE={{ jetty_base }}"
Environment="JETTY_USER={{ jetty_user }}"
Environment="JETTY_PORT=8080"
Environment="JETTY_ARGS=jetty.http.port=8080"
#Environment="JETTY_LOGS={{ jetty_log }}"
Environment="TMPDIR={{ jetty_tmp }}"
Environment="JAVA_OPTIONS={{ jetty_java_options + ' -Djetty.logs=' + jetty_log }}"

ExecStart={{ jetty_home }}/bin/jetty.sh start
ExecStop={{ jetty_home }}/bin/jetty.sh stop

User=jetty
Group=jetty

[Install]
WantedBy=multi-user.target
