#!/bin/bash

# Script for full/incremental backup of mariadb.

export PATH=/usr/bin
BACKUPDIR={{ backupdir }}
LOG_db=/var/log/backupDB.log
LOG_current=/var/log/backupDB-progress.log
touch ${LOG_db} ${LOG_current}
[[ $? -ne 0 ]] && logger "Cannot access log files ${LOG_db} and ${LOG_current}" && exit 1
[[ $(pgrep innobackupex) ]] && echo "$(date): Another backup process is in progress, terminated." >> ${LOG_db} && exit 1

FULLDAYS=7 # Number of days between full backups
FULL=1 #full backup flag

function backup_status_msg() {

  case ${1} in
      failed)
        echo "Database backup {{ SERVICE_NAME }} from $(hostname) FAILED" | mail -s "Database backup {{ SERVICE_NAME }} from $(hostname) FAILED" -S smtp=smtp://smtp.stoloto.ru "sysadmin@stoloto.ru"
      ;;
      completed)
        echo "Backup {{ SERVICE_NAME }} from $(hostname) was successfully completed" | mail -s "Backup {{ SERVICE_NAME }} from $(hostname) was successfully completed" -S smtp=smtp://smtp.stoloto.ru "sysadmin@stoloto.ru"
      ;;
  esac

}



[[ $(find ${BACKUPDIR} -mtime -${FULLDAYS} -name '*full.lz0') ]] && FULL=0

case ${FULL} in
    0)
        LSN=$(ls -1t ${BACKUPDIR} | head -1 | awk -F\- '{print $(NF-1)}')
        innobackupex --defaults-file=/root/backup-my.cnf \
            --no-timestamp \
            --use-memory=1G \
            --stream=xbstream \
            --parallel=4 \
            --slave-info \
            --safe-slave-backup \
            --incremental \
            --incremental-lsn=${LSN} \
            ./ 2>> ${LOG_current} \
            | xz --threads=4 --format=lzma -0 \
            > ${BACKUPDIR}/backup-maria-current-incr.lz0
        [[ $? -ne 0 ]] && echo "$(date): ERROR: innobackupex did not completed incremental backup." >> ${LOG_db} && exit 1
        LSN=$(grep 'latest check point' ${LOG_current} | tail -1 | awk -F\' '{print $(NF-1)}')
        [[ -z ${LSN} ]] && echo "$(date): WARNING: ${LOG_current} was rotated, incremental backup will be done in next hour." >> ${LOG_db} && /bin/rm -f ${BACKUPDIR}/backup-maria-current-incr.lz0 && exit 1
        mv ${BACKUPDIR}/backup-maria-current-incr.lz0 ${BACKUPDIR}/backup-maria-${LSN}-incr.lz0
    ;;
    1)
        innobackupex --defaults-file=/root/backup-my.cnf \
            --no-timestamp \
            --use-memory=1G \
            --stream=xbstream \
            --parallel=4 \
            --slave-info \
            --safe-slave-backup \
            ./ 2>> ${LOG_current} \
            | xz --threads=4 --format=lzma -0 \
            > ${BACKUPDIR}/backup-maria-current-full.lz0
        [[ $? -ne 0 ]] && echo "$(date): ERROR: innobackupex did not completed full backup." >> ${LOG_db} && exit 1
        LSN=$(grep 'latest check point' ${LOG_current} | tail -1| awk -F\' '{print $(NF-1)}')
        [[ -z ${LSN} ]] && echo "$(date): WARNING: ${LOG_current} was rotated, full backup will be done in next hour." >> ${LOG_db} && /bin/rm -f ${BACKUPDIR}/backup-maria-current-full.lz0 && exit 1
        mv ${BACKUPDIR}/backup-maria-current-full.lz0 ${BACKUPDIR}/backup-maria-${LSN}-full.lz0
    ;;
    *) echo "$(date): ERROR: FULL flag is out of range" >> ${LOG_db} && exit 1
    ;;
esac

[[ $(tail -1 $LOG_current | grep "completed OK" | wc -l ) != 1 ]] && backup_status_msg failed && exit 1

rsync -a --bwlimit=6400 --password-file=/etc/rsync_user.secret $BACKUPDIR rsync://backupstore@backup.gate2.orglot.office/backup-bet-{{ SERVICE_NAME }} && backup_status_msg completed || backup_status_msg failed
