
#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
bind-address = 127.0.0.1
gtid_domain_id = 1
log_bin = /var/lib/mysql/mariadb-bin
log_bin_index = /var/lib/mysql/mariadb-bin.index
log_slave_updates = 1
expire_logs_days = 5
server-id = {{ server_id }}
binlog_format = ROW
slave_net_timeout = 60
datadir = /var/lib/mysql
key_buffer_size = 20M
gtid_strict_mode = 1
gtid-ignore-duplicates = 1
max_allowed_packet = 10M
max_binlog_size = 100M
sync_binlog = 1
log_slow_rate_limit = 1000
log_slow_verbosity = query_plan
max_connections = 10000
character_set_server = utf8
collation_server = utf8_general_ci
init_connect = 'SET NAMES utf8'
lc_messages = en_US
skip-name-resolve
log_warnings = 2
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/log/mariadb-slow.log
long_query_time = 10
open_files_limit = 65536
table-open-cache = 10000
read_only = 1

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]
default_storage_engine = InnoDB
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 1
innodb_buffer_pool_size = 5G
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
slave_compressed_protocol = 1innodb_flush_log_at_trx_commit = 1
innodb_buffer_pool_size = 5G
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
slave_compressed_protocol = 1

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]
