{%- if etcd_ssl_files | length > 0 -%}
  {%- set proto_peer = 'https' -%}
  {%- set proto_client = 'https' -%}

{%- else -%}
  {%- set proto_peer = 'http' -%}
  {%- set proto_client = 'http' -%}
{%- endif -%}

[member]
ETCD_NAME={{ inventory_hostname_short }}
ETCD_DATA_DIR="{{ etcd_datadir }}"
ETCD_LISTEN_PEER_URLS="{{proto_peer}}://{{ ansible_default_ipv4.address }}:2380"
ETCD_LISTEN_CLIENT_URLS="{{proto_client}}://{{ ansible_default_ipv4.address }}:2379,{{proto_client}}://localhost:2379"

[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{proto_peer}}://{{ ansible_default_ipv4.address }}:2380"
ETCD_INITIAL_CLUSTER="
{%- for host in groups[ 'masters' ] -%}
{{ hostvars[host].inventory_hostname_short }}={{proto_peer}}://{{ hostvars[host].ansible_default_ipv4.address }}:2380
{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_ADVERTISE_CLIENT_URLS="{{proto_client}}://{{ ansible_default_ipv4.address }}:2379"


{% if etcd_ssl_files|length > 0 %}
[security]
  ETCD_PEER_CLIENT_CERT_AUTH="True"
  ETCD_PEER_CERT_FILE="{{ etcd_ssl_files.0.dest }}"
  ETCD_PEER_KEY_FILE="{{ etcd_ssl_files.1.dest }}"
  ETCD_PEER_TRUSTED_CA_FILE="{{ etcd_ssl_files.2.dest }}"

{% if proto_client == 'https' %}
  ETCD_CLIENT_CERT_AUTH="True"
  ETCD_CERT_FILE="{{ etcd_ssl_files.0.dest }}"
  ETCD_KEY_FILE="{{ etcd_ssl_files.1.dest }}"
  ETCD_TRUSTED_CA_FILE="{{ etcd_ssl_files.2.dest }}"
{% endif %}

  #ETCD_AUTO_TLS="true"
  #ETCD_PEER_AUTO_TLS="true"

{% endif %}




  #ETCD_DISCOVERY=""
  #ETCD_DISCOVERY_SRV=""
  #ETCD_DISCOVERY_FALLBACK="proxy"
  #ETCD_DISCOVERY_PROXY=""
  #ETCD_STRICT_RECONFIG_CHECK="false"
  #ETCD_AUTO_COMPACTION_RETENTION="0"

[proxy]
  #ETCD_PROXY="off"
  #ETCD_PROXY_FAILURE_WAIT="5000"
  #ETCD_PROXY_REFRESH_INTERVAL="30000"
  #ETCD_PROXY_DIAL_TIMEOUT="1000"
  #ETCD_PROXY_WRITE_TIMEOUT="5000"
  #ETCD_PROXY_READ_TIMEOUT="0"
  #
[logging]
  #ETCD_DEBUG="false"
  # examples for -log-package-levels etcdserver=WARNING,security=DEBUG
  #ETCD_LOG_PACKAGE_LEVELS=""
