<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Etcd cluster Service</short>
  <description>Etcd cluster Service</description>
  <port protocol="tcp" port="2379"/>
  <port protocol="tcp" port="2380"/>
</service>
