<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>{{ service.name }} Service</short>
  <description>{{ service.name }} Service</description>

{% for item in service.ports %}
  <port protocol="{{ item.protocol }}" port="{{ item.port }}"/>
{% endfor %}
</service>
