#!/bin/bash

print_usage()
{
	echo "Use: $0 /config/dir/[CONFIGNAME]"
}

do_edit()
{
	sudoedit "$FILE" && \
	chmod a-rwxst "$FILE" && \
	chmod "$MODE" "$FILE" &&
	chown "$OWN"  "$FILE"
	exit $?
}
######################################################################
[ "$2" != "" -o "$1" == "" ] && { print_usage; exit 1; }
FILE=`readlink -f "$1"` || { echo "No such dir."; exit 1; }
######################################################################

{% for item in list %}
{% if loop.first %}
  if [[ "$FILE" =~ {{ item.path }} ]]
{% else %}
elif [[ "$FILE" =~ {{ item.path }} ]]
{% endif %}
    then DEST="$FILE"; MODE="{{ item.mode }}"; OWN="{{ item.own }}"; do_edit;
{% endfor %}
else echo "\"$FILE\" is not in the list."; exit 1;
fi
