#!/bin/bash
RMDIR="rmdir"

if [ "$1" = "" -o  "$2" != "" ]
then
	echo Use: $0 /dirname/name
	exit 1
fi

DIR=`echo "$1" | tr -d [\*\ ,\;\{\}\(\)]`
DIR=`readlink -e "$DIR"` || { echo "No such dir."; exit 1; }
[ -d "$DIR" ] || { echo "\"$DIR\" should be directory."; exit 1; }

{% for item in list %}
{% if loop.first %}
  if [[ "$DIR" =~ {{ item.path }} ]]
{% else %}
elif [[ "$DIR" =~ {{ item.path }} ]]
{% endif %}
    then
			read -p "Do you realy want to delete dir \"$DIR\" (y/n)?:" a
			[ "$a" = "y" ] && $RMDIR "$DIR"
{% endfor %}
else echo "\"$DIR\" is not in the list."; exit 1;
fi
