#!/bin/bash

print_usage()
{
	echo "Use: $0 /dir/name"
}

do_mkdir()
{
	read -p "Do you realy want to create dir \"$DIR\" (y/n)? :" a
	[ "$a" = "y" ] || exit 0
	mkdir "$DIR" && \
	chmod "$MODE" "$DIR" && \
	chown "$OWNER" "$DIR"
	exit $?
}
###############################################################################################
[ "$1" = "" -o  "$2" != "" ] && { print_usage; exit 1; }
DIR=`echo "$1" | tr -d [\*\ ,\;\{\}\(\)]`
DIR=`readlink -m $DIR` || { echo "Check args."; exit 1; }
###############################################################################################

{% for item in list %}
{% if loop.first %}
  if [[ "$DIR" =~ {{ item.path }} ]]
{% else %}
elif [[ "$DIR" =~ {{ item.path }} ]]
{% endif %}
    then DEST="$DIR"; MODE="{{ item.mode }}"; OWNER="{{ item.own }}"; do_mkdir;
{% endfor %}
else echo "\"$DIR\" is not in the list." ; exit 1;
fi
