#!/bin/bash

if [ "$#" == "0" ]
then
	echo -e "Usage:\n\
$0 /path/to/file\n\
$0 /path/to/files*\n\
$0 /path/to/dir/*"
	exit 1
fi

FILE=`readlink -e "$@"` || { echo "No such file." ; exit 1; }


{% for item in list %}
{% if loop.first %}
  if [[ "$FILE" =~ {{ item.path }} || \
{% endif %}
{% if loop.last %}
        "$FILE" =~ {{ item.path }} ]]
{% else %}
        "$FILE" =~ {{ item.path }} || \
{% endif %}
{% endfor %}
		then
			read -p "Do you realy want to delete this files: $FILE (y/n)?:" a
			[ "$a" == "y" ] && rm -rf $FILE;
else echo "\"$FILE\" is not in the list."; exit 1;
fi
