#!/bin/bash

print_usage()
{
	echo "Use: $0 SOURCE_FILE /dest/dir/"
}

do_copy()
{
	# install -o "$OWN" -g "$GRP" -m "$MODE" "$FILE" "$DEST"
	cp -r "$FILE" "$DEST" && \
	chmod -R "$MODE" "$DEST" && \
	chown -R "$OWN"  "$DEST"
	exit $?
}
######################################################################################################################
[ "$1" = "" -o "$2" = "" -o "$3" != "" ] && { print_usage; exit 1; }
FILE=`readlink -e "$1"`	|| { echo "No such file \"$1\"." ; exit 1; }
DD=`readlink -e "$2"`		|| { echo "No such directory \"$2\"." ; exit 1; }
[ -r "$FILE" ]					|| { echo "Can not read \"$FILE\"." ; exit 1; }
[ -L "$FILE" ]					&& { echo "\"$FILE\" should not be symlink." ; exit 1; }
[ -d "$DD"   ]					|| { echo "\"$DD\" should be directory."; exit 1; }
######################################################################################################################

{% for item in list %}
{% if loop.first %}
  if [[ "$DD" =~ {{ item.path }} ]]
{% else %}
elif [[ "$DD" =~ {{ item.path }} ]]
{% endif %}
    then DEST="$DD"; MODE="{{ item.mode }}"; OWN="{{ item.own }}"; do_copy;
{% endfor %}
else echo "\"$DD\" is not in the list." ; exit 1;
fi
