{% set proto='http' %}
{% if kube_etcd_ssl_files|length > 0 %} {% set proto='https' %} {% endif %}
###
# kubernetes system config
#
# The following values are used to configure the kube-apiserver
#

# The address on the local server to listen to.
KUBE_API_ADDRESS="--bind-address=0.0.0.0"

# The port on the local server to listen on.
KUBE_API_PORT="--secure-port=8443 --insecure-port=0"

# Port minions listen on
KUBELET_PORT="--kubelet-port=10250"

# Comma separated list of nodes in the etcd cluster
KUBE_ETCD_SERVERS="--etcd-servers=
{%- for host in groups[ 'masters' ] -%}
{{ proto }}://{{ hostvars[host].ansible_default_ipv4.address }}:2379
{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}"

# Address range to use for services
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{ kube_service_range }}"

# default admission control policies
KUBE_ADMISSION_CONTROL="--admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,ResourceQuota,ServiceAccount"

# Add your own!
KUBE_API_ARGS="{{ kube_api_args | replace('\n', '')}}"
