# logging to stderr means we get it in the systemd journal

{% set proto='http' %}
{% set proto_port='8080'%}
{% if kube_ssl_files|length > 0 %}
  {% set proto='https' %}
  {% set proto_port='8443'%}
{% endif %}

KUBE_LOGTOSTDERR="--logtostderr=true"

# journal message level, 0 is debug
KUBE_LOG_LEVEL="--v=0"

# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow-privileged=true"

# How the replication controller and scheduler find the kube-apiserver
KUBE_MASTER=""
