###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="{{ kube_controller_manager_args | replace('\n', '')  }}"
#"--pod-eviction-timeout=5s --node-monitor-grace-period=10s"
