{%- set server='https://stage-kube-proxy.tsed.orglot.office:8443' -%}
{%- if inventory_hostname in groups['masters'] -%}
{%- set server='https://localhost:8443' -%}
{%- endif -%}
apiVersion: v1
kind: Config
users:
- name: kubelet
  user:
    token: K3f2Bxj5jyP9P2A1VPmKPPsm2XKgH08
- name: default
  user:
    password: 123qwe
    username: admin
clusters:
- name: local
  cluster:
    certificate-authority-data: "{{ lookup('file', kube_ssl_files.0.src )|b64encode }}"
    server: {{ server }}
    # insecure-skip-tls-verify: true
contexts:
- context:
    cluster: local
    user: kubelet
  name: service-account-context
current-context: service-account-context
