{% set proto='http' %}
{% set proto_port='8080'%}
{% if kube_ssl_files|length > 0 %}
  {% set proto='https' %}
  {% set proto_port='8443'%}
{% endif %}

###
# kubernetes kubelet (minion) config

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
KUBELET_PORT="--port=10250"

# You may leave this blank to use the actual hostname
KUBELET_HOSTNAME="--hostname-override={{ inventory_hostname_short }}"

# location of the api-server
KUBELET_API_SERVER=""
#KUBELET_API_SERVER="--api-servers={{ proto }}://{{ vip_dns }}:{{ proto_port }}"

# pod infrastructure container
KUBELET_POD_INFRA_CONTAINER="--pod-infra-container-image=registry.access.redhat.com/rhel7/pod-infrastructure:latest"

# Add your own!
KUBELET_ARGS="{{ kubelet_agrs | replace('\n', '')  }}"
