upstream backend {
    server 127.0.0.1:8080 fail_timeout=30s;
{% for host in groups[ host_group ] %}
{% if hostvars[host].inventory_hostname != inventory_hostname %}
    server {{ hostvars[host].inventory_hostname }}:8080 backup;
{% endif %}
{% endfor %}
}

server {

    listen       80;
    server_name  localhost {{ inventory_hostname }};

    location / {
        proxy_pass       http://backend;
        proxy_redirect          off;
        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_next_upstream     error timeout invalid_header http_500;
    }

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
