Server=gate2-zabbix-proxy.gate2.orglot.office,zabbix-proxy2.tsed.orglot.office,zabbix-proxy1.tsed.orglot.office,zabbix-devops.gate2.orglot.office
ServerActive=gate2-zabbix-proxy.gate2.orglot.office,zabbix-proxy2.tsed.orglot.office,zabbix-proxy1.tsed.orglot.office,zabbix-devops.gate2.orglot.office
Hostname={{ inventory_hostname }}
