service mysqlchk
{
  disable = no
  flags = REUSE
  socket_type = stream
  port = 9200
  wait = no
  user = nobody
  server = /usr/bin/clustercheck
  log_type = FILE /dev/null
  log_on_failure += USERID
  only_from = {{ hostvars[ groups['arbitrator'][0] ].cluster_ip }}/{{ ip_prefix }}
  per_source = UNLIMITED
}
