[Unit]
Description=Apache ActiveMQ
#After=network-online.target
After=syslog.target network.target


[Service]
Type=forking
#WorkingDirectory={{ amq_install_dir }}/bin
ExecStart={{ amq_install_dir }}/bin/activemq start
ExecStop={{ amq_install_dir }}/bin/activemq stop
SuccessExitStatus=143
#Restart=on-abort

User={{ amq_user }}
Group={{ amq_user }}

[Install]
WantedBy=multi-user.target
