{% set proto='http' %}
{% set proto_port='8080'%}
{% if kube_etcd_ssl_files|length > 0 %}
  {% set proto='https' %}
{% endif %}
# Flanneld configuration options

# etcd url location.  Point this to the server where etcd runs
FLANNEL_ETCD_ENDPOINTS="
{%- for host in groups[ 'masters' ] -%}
{{ proto }}://{{ hostvars[host].ansible_host }}:2379
{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}"


# etcd config key.  This is the configuration key that flannel queries
# For address range assignment
FLANNEL_ETCD_PREFIX="/atomic.io/network"

# Any additional options that you want to pass
{% if kube_etcd_ssl_files|length > 0 %}
FLANNEL_OPTIONS="--public-ip='{{ ansible_default_ipv4.address }}' --etcd-cafile={{ kube_etcd_ssl_files.2.dest }} --etcd-keyfile={{ kube_etcd_ssl_files.1.dest }} --etcd-certfile={{ kube_etcd_ssl_files.0.dest }}"
{% else %}
FLANNEL_OPTIONS="--public-ip='{{ ansible_default_ipv4.address }}'"
{% endif %}
