upstream nodes {
{% for host in groups[ 'nodes' ] %}
    server {{ hostvars[host].inventory_hostname }}:30080;
{% endfor %}
}

server {
    listen 80;

    server_name {{ vip_dns }};


    location / {
      proxy_pass        http://nodes;
      proxy_http_version 1.1;
      proxy_set_header  Connection "";
      proxy_set_header	X-Real-IP $remote_addr;
      proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header	Host $http_host;
    }

}
