
nginx_proxy_cache_path /dev/shm/robots_media levels=1:2 keys_zone=robots_media:60m inactive=5m max_size=1m;
nginx_proxy_cache_path /dev/shm/static_media levels=1:2 keys_zone=static_media:100m inactive=5m max_size=300m;

gzip on;
gzip_min_length 10240;
gzip_proxied expired no-cache no-store private auth;
gzip_types text/plain text/css text/xml text/javascript application/x-javascript application/json application/xml application/javascript;
gzip_disable msie6;
gzip_proxied any;
gzip_vary on;
server_tokens off;

upstream backend {
      server 127.0.0.1:8080 fail_timeout=10s;
{% for host in groups[ host_group ] %}
{% if hostvars[host].inventory_hostname != inventory_hostname %}
      server {{ hostvars[host].inventory_hostname }}:8080 backup;
{% endif %}
{% endfor %}
}


server {
    listen 443 ssl;
    {% if env is defined and env == 'stage' %}
    server_name {{ ansible_host }} {{inventory_hostname}} {{ vip_dns }};
    {% else %}
    server_name 888.ru;
    {% endif %}
    root         /usr/share/nginx/html;

{% if item.ssl %}
{% include "templates/ssl.conf" ignore missing %}
{% endif %}


    location / {
        proxy_pass       	http://backend;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header	X-Real-IP $remote_addr;
        proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header	Host $http_host;

        set $mobile_rewrite do_not_perform;

        ## chi http_user_agent for mobile / smart phones ##
        if ($http_user_agent ~* "(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino") {
          set $mobile_rewrite perform;
        }

        if ($http_user_agent ~* "^(1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-)") {
            set $mobile_rewrite perform;
        }

        ## redirect to m.example.com ##
        if ($mobile_rewrite = perform) {
            rewrite ^ https://mobile.888.ru$request_uri? redirect;
            break;
        }
    }

    location  ~* (robots.txt|sitemap.xml) {


        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $host;
        #access_log  /var/log/nginx/access-robots.log main;
        proxy_cache            robots_media;
        proxy_cache_methods GET;
        proxy_ignore_headers "Cache-Control" "Expires" "Set-Cookie";
        proxy_cache_valid       200 301 302 304 60M;
        proxy_cache_valid       any 0; # не кешируем 500 и 400 ошибки
        proxy_cache_key         $uri$args;
        proxy_hide_header "Set-Cookie";
        add_header X-Cache-Status $upstream_cache_status;
        add_header Cache-Control no-cache;
        proxy_pass       http://backend;

        proxy_next_upstream     error timeout invalid_header http_500 http_404;

    }

    location ~* /(.+/)*.+\.(jpg|jpeg|gif|png|js|css|woff|proto) {
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $host;
        #access_log  /var/log/nginx/access-static.log main;
        proxy_cache             static_media;
        proxy_cache_methods GET;
        proxy_ignore_headers "Cache-Control" "Expires" "Set-Cookie";
        proxy_cache_valid       200 301 302 304 1M;
        proxy_cache_valid       any 0;
        proxy_cache_key         $uri$args;
        proxy_hide_header "Set-Cookie";
        add_header X-Cache-Status $upstream_cache_status;
        add_header Cache-Control no-cache;

        set $backend 1;
        if ($uri ~ .*errors_media.*) {
            set $backend 0;
        }
        if ($backend = 1){
            proxy_pass http://backend;
        }
        if ($backend = 0){
        	root /mnt/data/static;
        }
    }

    location /tech_works.html{
            root /mnt/data/static;
    }

    location /50x.html{
            root /mnt/data/static;
    }

    location /user_debug/system_check{
        return 200;
    }

}
