%support-config ALL=(nobody) /bin/echo -----EDIT CONFIGS---------------------------------
%support-config ALL =(root) NOPASSWD: /usr/bin/support-editor

%support-cp ALL=(nobody) /bin/echo -----COPY FILES TO DIRS-----------------------------
%support-cp ALL =(root) NOPASSWD: /usr/bin/support-cp

%support-mkdir ALL=(nobody) /bin/echo -----MAKE DIRS--------------------------------------
%support-mkdir ALL =(root) NOPASSWD: /usr/bin/support-mkdir

%support-rm ALL=(nobody) /bin/echo -----REMOVE FILES-----------------------------------
%support-rm ALL =(root) NOPASSWD: /usr/bin/support-rm

%support-rmdir ALL=(nobody) /bin/echo -----REMOVE DIRS------------------------------------
%support-rmdir ALL=(root) NOPASSWD: /usr/bin/support-rmdir

%support-service ALL=(nobody) /bin/echo -----START/STOP/STATUS/RESTART SERVICES------------
%support-service ALL=(jetty,nginx,{{ sbus_user }}) NOPASSWD: /bin/kill *
%support-service ALL=(root) NOPASSWD: /usr/bin/support-nginx-cache
%support-service ALL=(root) NOPASSWD: /bin/cat /var/log/*, /bin/tailf /var/log/*


{% if ansible_distribution in ['CentOS', 'RedHat'] %}
{% if ansible_distribution_major_version in ['7'] %}
%support-service ALL=(root) NOPASSWD: /bin/systemctl start activemq
%support-service ALL=(root) NOPASSWD: /bin/systemctl stop activemq
%support-service ALL=(root) NOPASSWD: /bin/systemctl status activemq
%support-service ALL=(root) NOPASSWD: /bin/systemctl restart activemq
%support-service ALL=(root) NOPASSWD: /bin/systemctl start jetty
%support-service ALL=(root) NOPASSWD: /bin/systemctl stop jetty
%support-service ALL=(root) NOPASSWD: /bin/systemctl status jetty
%support-service ALL=(root) NOPASSWD: /bin/systemctl restart jetty
%support-service ALL=(root) NOPASSWD: /bin/systemctl start nginx
%support-service ALL=(root) NOPASSWD: /bin/systemctl stop nginx
%support-service ALL=(root) NOPASSWD: /bin/systemctl status nginx
%support-service ALL=(root) NOPASSWD: /bin/systemctl restart nginx
%support-service ALL=(root) NOPASSWD: /bin/systemctl start {{ sbus_service }}
%support-service ALL=(root) NOPASSWD: /bin/systemctl stop {{ sbus_service }}
%support-service ALL=(root) NOPASSWD: /bin/systemctl status {{ sbus_service }}
%support-service ALL=(root) NOPASSWD: /bin/systemctl restart {{ sbus_service }}
%support-service ALL=(root) NOPASSWD: /bin/systemctl restart zabbix-agent
%support-service ALL=(root) NOPASSWD: /bin/systemctl status zabbix-agent




{% endif %}
{% if ansible_distribution_major_version in ['6'] %}
%support-service ALL=(root) NOPASSWD: /sbin/service activemq start
%support-service ALL=(root) NOPASSWD: /sbin/service activemq stop
%support-service ALL=(root) NOPASSWD: /sbin/service activemq status
%support-service ALL=(root) NOPASSWD: /sbin/service activemq restart
%support-service ALL=(root) NOPASSWD: /sbin/service jetty start
%support-service ALL=(root) NOPASSWD: /sbin/service jetty stop
%support-service ALL=(root) NOPASSWD: /sbin/service jetty status
%support-service ALL=(root) NOPASSWD: /sbin/service jetty restart
%support-service ALL=(root) NOPASSWD: /sbin/service nginx start
%support-service ALL=(root) NOPASSWD: /sbin/service nginx stop
%support-service ALL=(root) NOPASSWD: /sbin/service nginx status
%support-service ALL=(root) NOPASSWD: /sbin/service nginx restart
%support-service ALL=(root) NOPASSWD: /sbin/service {{ sbus_service }} start
%support-service ALL=(root) NOPASSWD: /sbin/service {{ sbus_service }} stop
%support-service ALL=(root) NOPASSWD: /sbin/service {{ sbus_service }} status
%support-service ALL=(root) NOPASSWD: /sbin/service {{ sbus_service }} restart
%support-service ALL=(root) NOPASSWD: /sbin/service zabbix-agent restart
%support-service ALL=(root) NOPASSWD: /sbin/service zabbix-agent status



{% endif %}
{% endif %}
