server {
    listen 443 ssl;
{% if env is defined and env == 'stage' %}
    server_name {{ inventory_hostname }} {{ ansible_host }};
{% else %}
    server_name admin.888.ru;
{% endif %}
    client_max_body_size 50m;
    root /usr/share/nginx/html;

{% if item.ssl %}
{% include "templates/ssl.conf" ignore missing %}
{% endif %}

    location / {
    proxy_pass       	http://localhost:8080;
    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_set_header	X-Real-IP $remote_addr;
    proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header	Host $http_host;
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }
}
