nginx_proxy_cache_path /var/tmp/nginx levels=1:2 keys_zone=main_demo:10m inactive=1m max_size=500m;

upstream backend {
    server 127.0.0.1:8080;
}

upstream backend_sb {
{% for host in groups[ 'esb' ] %}
{% if loop.first %}
    server {{ hostvars[host].inventory_hostname }}:8663 fail_timeout=30s;
{% else %}
    server {{ hostvars[host].inventory_hostname }}:8663 backup;
{% endif %}
{% endfor %}
}

server {
    listen 80;
{% if env is defined and env == 'stage' %}
    server_name {{ inventory_hostname }} {{ ansible_host }};
{% else %}
    server_name admin.888.ru;
{% endif %}
    client_max_body_size 16m;
    server_tokens off;

    location ~^/(monitor|system)/ {
        proxy_pass http://backend_sb;
        proxy_redirect off;
        proxy_next_upstream error timeout invalid_header http_500;
    }

    location /{
        proxy_pass http://backend;
        proxy_redirect off;
        proxy_set_header Host             $host;
        proxy_set_header X-Real-IP        $remote_addr;
        proxy_set_header X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_next_upstream error timeout invalid_header http_500;
    }
}
