BOOTPROTO=none
DEVICE=eth0
ONBOOT=yes
PEERDNS=yes
PEERROUTES=yes
IPADDR={{ new_ip | default( ansible_host ) }}
PREFIX={{ ip_prefix }}
GATEWAY={{ ip_gateway }}
{% for item in nameservers %}
DNS{{ loop.index }}={{ item }}
{% endfor %}
