[Unit]
Description={{ sbus_description }}
#Requires=mysql.service

[Service]
User={{ sbus_user }}
Group={{ sbus_user }}
Type=simple
WorkingDirectory={{ sbus_jar_path }}

Environment="JAVA_OPTS=-Xmx2G -Dlogback.configurationFile=./logback.xml" "JAR_FULL_NAME={{ sbus_jar_path }}/{{ sbus_jar_name }}"

OOMScoreAdjust=-1000

ExecStart=/usr/bin/java -jar $JAVA_OPTS $JAR_FULL_NAME
TimeoutSec=300

[Install]
WantedBy=multi-user.target
