# Copyright (C) 2012 Codership Oy
# This config file is to be sourced by garb service script.

# A comma-separated list of node addresses (address[:port]) in the cluster
GALERA_NODES="
{%- for host in groups['galera'] -%}
{{ hostvars[host].cluster_ip }}:{{ galera_wsrep_cluster_port }}
{%- if not loop.last -%} {{ ' ' }} {%- endif -%}
{%- endfor -%}"

# Galera cluster name, should be the same as on the rest of the nodes.
GALERA_GROUP="{{ galera_wsrep_cluster_name }}"

# Optional Galera internal options string (e.g. SSL settings)
# see http://galeracluster.com/documentation-webpages/galeraparameters.html
# GALERA_OPTIONS=""

# Log file for garbd. Optional, by default logs to syslog
# LOG_FILE="/var/log/garbd.log"
