SSLSessionCache         shmcb:/opt/rh/httpd24/root/var/run/httpd/sslcache(512000)
SSLSessionCacheTimeout 300
SSLRandomSeed startup file:/dev/urandom 256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

Listen 443 https

<VirtualHost _default_:443>
        ServerName   stage-kube-lb0.tsed.orglot.office

        #ErrorLog logs/ssl_error_log
        #TransferLog logs/ssl_access_log
        #LogLevel debug
        #CustomLog logs/access_ssl_debug.log "%h %u %{[%F %T %z]}t \"%r\" %>s %b %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%{SSL_CLIENT_S_DN}x\" \"%{SSL_CLIENT_I_DN}x\" \"%{SSL_CLIENT_V_START}x\" \"%{SSL_CLIENT_V_END}x\"" env=!req_director

        SSLEngine on
        SSLProtocol TLSv1.2
        SSLCACertificatePath    /etc/pki/ca-trust/source/anchors/
        SSLVerifyClient         none

        SSLCipherSuite HIGH:!SSLv3:!SSLv2
        #SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5 #default rhel httpd values

        SSLCertificateFile /etc/pki/tls/certs/stage-kube-lb.tsed.orglot.office.pem
        SSLCertificateKeyFile /etc/pki/tls/private/stage-kube-lb.tsed.orglot.office-Key.pem

        <Proxy *>
                AddDefaultCharset Off
                Order deny,allow
                Allow from all
        </Proxy>

        <Location /check>
                ProxyPass          http://127.0.0.1:30080/check
                ProxyPassReverse   http://127.0.0.1:30080/check
        </Location>

</VirtualHost>
