upstream backend {
    server 127.0.0.1:8080 fail_timeout=30s;
{% for host in groups[ host_group ] %}
{% if hostvars[host].inventory_hostname != inventory_hostname %}
    server {{ hostvars[host].inventory_hostname }}:8080 backup;
{% endif %}
{% endfor %}
}

upstream backend_sb {
    server 127.0.0.1:8672 fail_timeout=30s;
{% for host in groups[ host_group ] %}
{% if hostvars[host].inventory_hostname != inventory_hostname %}
    server {{ hostvars[host].inventory_hostname }}:8672 backup;
{% endif %}
{% endfor %}
}


server {
    listen 80 deferred;
    server_name {{ inventory_hostname }} {{ vip_dns }};

    server_tokens off;

    location ~^/(monitor|system)/ {
        allow 10.0.0.0/8;
        allow 100.64.0.0/10;
        allow 172.16.0.0/12;
        allow 192.168.0.0/16;
        deny all;

        proxy_pass http://{{ hostvars[ arbitrator_inventory_hostname ].ansible_host }}:8672;
        proxy_redirect off;
        proxy_next_upstream error timeout invalid_header http_500;
    }


    location /{
        proxy_pass http://backend;
        proxy_redirect     off;
        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_next_upstream error timeout invalid_header http_500;
    }
}

server {
    listen 8081 deferred;
    server_name {{ inventory_hostname }} {{ vip_dns }};

    server_tokens off;

    location /{
        proxy_pass       http://backend_sb;
        proxy_redirect     off;
        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_next_upstream     error timeout invalid_header http_500;
    }
}
