###
#
nginx_proxy_cache_path /var/cache/nginx/media levels=1:2 keys_zone=qg_media:100m inactive=5m max_size=500m;

upstream backend {
     server 127.0.0.1:8080 fail_timeout=10s;
{% for host in groups[ 'site' ] %}
{% if hostvars[host].inventory_hostname != inventory_hostname %}
        server {{ hostvars[host].inventory_hostname }}:8080 backup;
{% endif %}
{% endfor %}
}

server {
    listen   80 deferred;
    server_name {{inventory_hostname}} {{ vip_dns }}; 

    server_tokens off;

  location ~ ^/(admin|admin_panel) {
     rewrite ^(.*)$ https://$host$1 permanent;
     }
     
    location ^~ /live/ {
        proxy_pass       http://{{ vip_dns }}/;
        proxy_redirect          off;
        proxy_set_header   Host             "{{ vip_dns }}";
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
       access_log /var/log/nginx/access-new.log main;

    }

            location ^~ /retail/ {
        proxy_pass       http://{{ vip_dns }}/;
        proxy_redirect          off;
        proxy_set_header   Host             "{{ vip_dns }}";
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
       access_log /var/log/nginx/access-new.log main;

    }

            location ^~ /tablet/ {
        proxy_pass       http://{{ vip_dns }}/;
        proxy_redirect          off;
        proxy_set_header   Host             "{{ vip_dns }}";
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
       access_log /var/log/nginx/access-new.log main;

    }

    location / {
        proxy_pass       http://backend;
        proxy_redirect          off;
        proxy_set_header   Host             $host; #"stage-board-app1.gate2.orglot.office";      #$host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;    
        proxy_next_upstream     error timeout invalid_header http_500;

    }

   location ~* /(.+/)*.+\.(jpg|jpeg|gif|png|js|css|html|woff|proto) {


        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Accept-Encoding "";
                proxy_set_header Host           $host; #"stage-board-app1.gate2.orglot.office"; #$host;
        access_log  /var/log/nginx/access-static.log main;

        proxy_cache             qg_media;
        proxy_cache_methods GET;
        proxy_ignore_headers "Cache-Control" "Expires" "Set-Cookie";
        proxy_cache_valid       200 301 302 304 1M;
        proxy_cache_valid       any 0; # не кешируем 500 и 400 ошибки
        proxy_cache_key         $uri$args;
        proxy_hide_header "Set-Cookie";
        add_header X-Cache-Status $upstream_cache_status;
        add_header Cache-Control no-cache;
        proxy_pass       http://backend;
        
        proxy_next_upstream     error timeout invalid_header http_500 http_404;
  
    }

#  location /mark_client_servlet{
#        return 500;
#   }

}
