###
##
#
    server {
        listen       *:443 ssl;
        server_name  server_name {{ ansible_host }} {{inventory_hostname}} {{ vip_dns }};
        allow all;
        root /usr/share/nginx/html;

        ssl on;

        ssl_certificate		/etc/pki/tls/certs/{{ vip_dns }}_chain.pem;
        ssl_certificate_key	/etc/pki/tls/private/{{ vip_dns }}-Key.pem;
        ssl_dhparam		/etc/pki/tls/certs/dhparam.pem;

        ssl_session_timeout 1d;
        ssl_session_cache shared:SSL:50m;
        ssl_session_tickets off;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers
        #Список шифров в боевой конфигурации изменить в соответсвии с утвержёднным
'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
        ssl_prefer_server_ciphers on;
        location / {
            proxy_pass		http://backend/;
            proxy_http_version	1.1;
            proxy_set_header    Connection    "";
            proxy_set_header    Accept-Encoding    "";
            proxy_set_header    Host        $host;
            proxy_set_header	X-Real-IP    $remote_addr;
            proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
