
server {
    listen 80 default_server;
    {% if env is defined and env == 'stage' %}
    server_name {{ ansible_host }} {{inventory_hostname}} {{ vip_dns }};
    {% else %}
    server_name 888.ru;
    {% endif %}

    location / {
    {% if env is defined and env == 'stage' %}
    proxy_pass       	http://backend;
    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_set_header	X-Real-IP $remote_addr;
    proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header	Host $http_host;
    {% else %}
    return 301 https://$host$request_uri;
    {% endif %}
    }

    location ~ ^/admin_debug {
    proxy_pass http://backend;
    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_next_upstream error timeout invalid_header http_500 http_404;
    access_log /var/log/nginx/http-access.log main;
    allow 10.200.80.0/23;
    deny all;
    }

    location  ~* /tsupis/notification/(personal_data|customer_update|bind/success|bind/fail) {
    proxy_pass       	http://backend;
    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_set_header	X-Real-IP $remote_addr;
    proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header	Host $http_host;
    proxy_next_upstream     error timeout invalid_header http_500 http_404;
    access_log  /var/log/nginx/http-access.log main;
    allow 10.200.80.0/23;
    deny all;
    }
}
